{{NPM_SCOPE}}:registry=https://{{CODEARTIFACT_DOMAIN}}-{{AWS_ACCOUNT_ID}}.d.codeartifact.{{AWS_REGION}}.amazonaws.com/npm/{{CODEARTIFACT_REPO}}/
//{{CODEARTIFACT_DOMAIN}}-{{AWS_ACCOUNT_ID}}.d.codeartifact.{{AWS_REGION}}.amazonaws.com/npm/{{CODEARTIFACT_REPO}}/:always-auth=true
